@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "Yeseva One", sans-serif;
}
